.pop-up {
  background-color: white;
  position: absolute;
  padding: 12px;
  font-size: 1.6rem;
  border-radius: 10px;
  top: -50px;
  left: 50%;
  translate: -50%;
  transition: 0.3s top;
  min-width: 320px;
  max-width: fit-content;
  box-shadow: 8px 8px 6px -5px rgba(0, 0, 0, 0.36);
}

@media (width <= 500px) {
  .pop-up {
    font-size: 1.4rem;
    padding: 8px;
    min-width: 280px;
  }
}

.show-pop-up {
  top: 10px;
}
